  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* === primary */

.btn-p {
    border-radius: 50px;
border: 1.5px solid #3D37F1;
box-shadow: 0px 10px 50px 0px rgba(61, 55, 241, 0.25);
color: white;
text-align: center;
font-size: 15px;
font-style: normal;
line-height: normal;
padding: 12px 
30px;
background-color: #F5167E;
margin: 0;
  }

  .big-title {
    color: #242565;
    font-size: 30px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .after-title {
    color: #6A6A6A;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }

/* === primary */

  
  
  /* Navigation */
  @media only screen and (max-width: 991px) {
    nav {
        background-color: #563683e3; }
        .nav-link {
            color: white !important;
            padding: 10px;
            margin-bottom: 10px;
        }
        .nav-btn {
            margin-top: 5px;
    
            padding: 5px 25px;
            border-radius: 50px;
            border: 1.5px solid #FFF;
            background-color: transparent;
            color: white;
        }
        .col {
            margin: 15px 0px;
            padding-bottom: 15px
px
;
        }
        .section {
            padding: 10px;
            width: 80%;
            margin: auto;
        }
        .sec-head h2 {
            text-align: center;
            margin-bottom: 18px;
        }
        
        


      } 
  
  nav {
    z-index: 999;
  }

  @media only screen and (min-width: 992px) {
    nav {
        height: 60px;
        z-index: 999;
      }

      .nav-link {
        color: white !important;
        font-family: DM Sans;
        font-size: 16px;
        font-weight: 500;
        margin-left: 0px;
    }
    .nav-btn {
        padding: 5px 25px;
        border-radius: 50px;
        border: 1.5px solid #FFF;
        background-color: transparent;
        color: white;
    }
    .nav-item {
        margin-left: 22px;
    }
    .hero-sec {
        margin-top: -60px;
    }
    


  }



/* hero section */
.hero-sec {
    width: 100%;
    position: relative;
    background: url('img/hero-bg.png') no-repeat
    ;
    background-size: cover;
    opacity: 99%;
    height: 750px;
    padding-top: 60px;
}

.hero-sec:before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    opacity: 95%;
    background: url('img/bg.png') no-repeat
    ;
    background-size: cover;
    z-index: -1;
     }
.hero-sec .container {
    z-index: 2;
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
    
}
.hero-sec span{
    display: flex;
    flex-direction: row;
}

.hero-btn {
border: 1px solid white;
border-radius: 50px;
color: #FFF;
text-align: center;
font-family: DM Sans;
font-size: 18px;
font-weight: 700;
line-height: normal;
background-color: transparent;
padding: 10px 20px;
margin-right: 10px;

}

.btn-1{
background: #F5167E !important;
border-color: transparent;
}
.hero-sec h1 {
    color: #FFF;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.hero-sec p {
    color: #FFF;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 23.4px */
}

.hero-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1.3);}

.hero-sec .hero-bottom {
    background-color: #242565;
    position: absolute;
    bottom: -70px;
    left: 0;
background: #242565;
box-shadow: 0px 10px 50px 0px rgba(61, 55, 241, 0.25);
    width: 100%;
    height: auto;
    padding: 40px 30px;
    right: 0;
    border-radius: 20px;
}
.hero-bottom .row {
    display: flex;
    width: 90%;
    padding: 0px 10px;
    justify-content: space-between;

}
.hero-bottom {
    color: white;
}
.hero-bottom p {
    font-size: 15px;
}
.hero-bottom .form-select {
    background: transparent;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 0;
    padding-bottom: 5px;
    
}
.hero-bottom .form-select option {
    color: black;
}

@media only screen and (max-width: 991px){

    .hero-sec{
        height: auto;
        padding-bottom: 50px;
    }
    .hero-sec .hero-bottom {
        position: relative;
    bottom: 0;
    transform: none;
    width: 90%;
    height: auto;
    padding: 40px 30px ;
    margin-top: 50px;}



} /* */


/* section */
    
.sec-head {
    margin-bottom: 30px;
}

.sec-head .form-select{
    border-radius: 50px;
background: #F2F4FF;
    font-size: 15px;
    padding: 10px 30px;
    margin-right: 10px;
    color: #1D275F;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
-webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 90%;
    background-position-y: 10px;
}

.sec-1 {
    padding-top: 100px;
    padding-bottom: 15px;
    overflow: hidden;
}
.load-btn {
    border-radius: 50px;
border: 1.5px solid #3D37F1;
box-shadow: 0px 10px 50px 0px rgba(61, 55, 241, 0.25);
color: #3D37F1;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 15px 40px;
}

/* ==============================     card =============================     */
.event-card {
    width: 100%;
    min-width: 300px;
    height: 300px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 18.952880859375px 47.382198333740234px rgba(119, 115, 170, 0.10);
    display: block;



    
}
.blog-card{
    border-radius: 20px;
    box-shadow: 0px 18.952880859375px 47.382198333740234px rgba(119, 115, 170, 0.10);
    display: block;
    overflow: hidden;
}
.blog-card-c .card-thumb {
    width: 100%;
    height: 60%;
    padding-bottom: 10px ;
}
.blog-card .data .card-title {
    color: #000;
    font-size: 20px;
}

.event-card .card-thumb {
    width: 100%;
    height: 60%;
    padding-bottom: 10px ;
}
.event-card .time .t-m {
    color: #3D37F1;
    color: #3D37F1;
text-align: center;
font-size: 12;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 0;
}
.event-card .time .t-d {
    color: #000;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.event-card .data {
    padding-left: 10px;
}
.data .card-title {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}
.data .bio {
    color: #6A6A6A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/* ==============================     card  End =============================     */
.sec-2 {
    background: #EEE1FF;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: auto;
    padding: 30px 30px;
}
.sec-2 img {
    width: 100%;
    top: 20px;
    object-fit: contain;
    height: 200px;
}
.sec-2 .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* section 3 */
.sec-3 {
    padding: 30px 0px;
}
.sec-3 .ad img{
    width: 100%;
    height: 30px;
    margin: 10px;
    object-fit: contain;
    margin-top: 25px;

}
.section {
    
    display: block;
    width: 100%;
    overflow: hidden;
}
.sec-4 {
    
}


/* footer */
.footer {
    background: #0A075F;
    color: white;
    padding: 50px 0px ;
}
.footer-menu .footer-menu-title {
    color: white;
    font-size: 18px;
    margin-bottom: 50px;
    margin-left: -5px;
    font-weight: 500;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}
.f-menu-item  {
    margin: 0;
    padding: 0;
    font-size: 14px;
    margin-top: 30px;
}
.f-menu-item  li{
    
    list-style: none;
    margin-top: 20px
    ;
}